# Ignore all files, we will whitelist the files to include individually.
/*

# Individual files to whitelist:
!.gitignore
!README.md

## Tmux configuration.
!.tmux.conf

## Vim Config
!.vimrc

## Raspberry Pi Imager.
!/.config/
/.config/*
!/.config/Raspberry\ Pi/
#!/.config/Raspberry\ Pi/Imager.conf

